.chatContainer {
  width: 60vw;
  height: 50vh;
  margin: auto;
  padding: 10px;
  border: 2px solid #aaa;
  overflow: scroll;
}

.inputBox {
  width: 60vw;
  margin: auto;
}

.inputBox input {
  width: 80%;
}

.sentMsg {
  background-color: aqua;
  border-radius: 3px;
  margin: 10px;
}
.recievedMsg {
  background-color: blanchedalmond;
  text-align: right;
  border-radius: 3px;
  margin: 10px;
}
